.imageContainer {
    height: 300px;
}

.imageContainer .title {
    display: flex;
    gap: 10px;
}

.imageContainer .images {
    /* height to be changed later to  calc(100% - 40px); */
    height: calc(100vh - 40px);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.imageBox {
    width: 180px;
    /* height to be changed later to  85% or 200px; */
    height: 220px;
    text-decoration: none;
    color: black;
}

.imageBox img {
    width: 100%;
    height: 95%;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
}

.imageBox .imageInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
}

@media (max-width: 612px) {
    .imageContainer .images {
        justify-content: center;
    }

    .imageBox {
        width: 90%;
        height: 350px;
        margin-bottom: 20px;
    }
}
