.account {
    width: 100vw;
    height: 100vh;
    background-color: var(--welcomeBg);
    display: grid;
    place-content: center;
}

.account .accountWrapper {
    width: 500px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    background-color: var(--borderColor);
    position: relative;
}

.account .accountHeader {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid white;
}

.account .accountBody {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.accountBody form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account .accountBody div {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.account .accountBody input {
    font-size: 18px;
    padding: 5px;
    border: 1px solid white;
    background-color: var(--backgroundColor);
    border-radius: 5px;
}

.account .accountBody input[type="submit"] {
    cursor: pointer;
    border: 1px solid var(--welcomeBg);
}

.account .accountBody input:focus {
    outline: none;
}

.erroraccount {
    height: 18px;
    width: 100%;
}

.accountFooter {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
}

@media screen and (max-width: 612px) {
    .account .accountWrapper {
        width: 300px;
    }

    .account .accountBody {
        gap: 20px;
    }

    .account .accountBody form {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }

    .account .accountBody div {
        flex-direction: column;
    }
}
