.categories {
    padding-bottom: 10px;
}

.categories ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.categories li {
    width: 100%;
    list-style: none;
}

.categories li.active {
    border-left: 3px solid var(--borderColor);
    background-color: var(--backgroundColor);
}

.categories a {
    text-decoration: none;
}

.categories li button {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    border-right: none;
    border-left: none;
    background-color: var(--backgroundColor);
    text-align: left;
    padding: 5px 5px;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.categories li:first-child button {
    justify-content: flex-start;
    gap: 10px;
}

.categories button div {
    display: inherit;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 612px) {
    .categories {
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        border-top: 1px solid var(--borderColor);
        border-bottom: 1px solid var(--borderColor);
        padding: 20px 0;
    }

    .categories ul {
        height: 100%;
        gap: 10px;
    }

    .categories p {
        display: none;
    }

    .categories h2 {
        display: none;
    }

    .mobileSidebar.open .categories p {
        display: inline-flex;
    }

    .mobileSidebar.open .categories h2 {
        display: block;
    }

    .categories .icon {
        font-size: 30px;
    }
}
