.viewer {
    height: 100vh;
    width: 100%;
    padding: 10px 30px;
    margin-left: -7px;
    border-top: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.viewer .viewer-header {
    width: 100%;
    height: 40px;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.viewer .viewer-header button {
    background-color: transparent;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.viewer .viewer-image {
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px 0;
    display: grid;
    place-content: center;
}

.viewer .viewer-image img {
    max-height: 100%;
}

@media screen and (max-width: 612px) {
    .viewer {
        margin-top: 70px;
        margin-left: 60px;
        border: none;
        padding: 0;
    }

    .viewer .viewer-image {
        padding: 0 5px;
    }

    .viewer .viewer-image img {
        width: 100%;
    }
}
