.search {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
}

.search input {
    width: 100%;
    font-size: 16px;
    border: none;
}

.search input:focus {
    border: none;
    outline: none;
}

@media (max-width: 612px) {
    .search {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100vw - 60px);
        height: 60px;
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
}
