.mobileSidebar .profile {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.mobileSidebar .profile a {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
}

.mobileSidebar .logo {
    width: 60px;
    height: 59px;
    align-self: flex-end;
    border: none;
    background-color: transparent;
}

.mobileSidebar .logo img {
    width: 100%;
    height: 100%;
}

.mobileSidebar .navText {
    display: none;
}

.mobileSidebar.open .navText {
    display: inline-block;
}

.mobileSidebar .tags {
    height: 170px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
