.App {
    display: flex;
    position: relative;
    height: 100vh;
}

.aside {
    width: 12%;
    height: 100vh;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    z-index: 3;
    background-color: white;
}

.mobileSidebar {
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid var(--borderColor);
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.3s ease-in-out;
}

.mobileSidebar.open {
    width: 250px;
    z-index: 1;
}

.main {
    height: 100vh;
    width: 100vw;
    margin-left: -10px;
    padding: 50px 10px 10px 20px;
    border-top: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main::-webkit-scrollbar {
    width: 8px;
}

.main::-webkit-scrollbar-thumb {
    background-color: var(--borderColor);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon {
    font-size: 20px;
    color: var(--borderColor);
}

@media screen and (max-width: 612px) {
    .aside {
        display: none;
    }

    .hideOnDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main {
        margin-top: 60px;
        margin-left: 60px;
        border: none;
        padding: 0 10px;
    }
}

@media screen and (min-width: 612px) {
    .mobileSidebar {
        display: none;
    }

    .hideOnDesktop .search {
        display: none;
    }
}
